html {
    font-size: 10px;
    font-family: "Sofadi One", system-ui;
    color: white;
    background-color: dimgray;
}

body{
    width: 700px;
    margin: 0 auto;
    background-color: grey;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
h1{
    font-size: 60px;
    margin: 0;
    text-align: center;
    padding: 20px;
    color: burlywood;
    text-shadow: 3px 3px 1px black;
}

p,li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

li:hover{
    color: burlywood;
    width: 275px;
}

img{
    display: block;
    margin: 0 auto;
}
/*
ISDFNbiNSDIngfISNDginsdifgniDSNIJgnijsdfngjinSDIJfgnDFiugnSIGJbnDFUOhgibjndsfuoigjkndfoiujgbnDFIJgnDIFJgnDIFjng
sdfgsokdMGOsdmgSOdkgnmsiupdjoghnsdiugoNSPDUIokngsPIUODKNHgMPU(ISODNgpuiosdknhgudongsu)sdokgnmOSIdngm(SE8oghN_(s8n3))
PUSOdhing9-8shnPUI(OGihnS(P8oh)*7G)*7usidgh8gnyiudsbjg98ds7gH*^TR645$RE%$^ret6857sdt&^7yuidjbksngiukjsdnbgiusdjlkngmis
*&TYH96d8s7uygh78sdi*)([g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^Yftg76yfG&^uyfg76uyg7o6uiufgb76FG&^*SFG68&FG&6F&URFG*uogyh08ds79*TYH)*&DI*ugyhn878isudgyh80ng79OYHS_(D*o9iyhg0879dughg)\sdkhujbhgn8osdiughO&D8uighn
ISUDGHn87p9go8yih978OYSH(D*OIYhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(ih978OYSH(D*OIuj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg7poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HDknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfookfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg7poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^Yftg76yfG&^uyfg76uyg7o6uiufgb76FG&^*SFG68Yhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Y*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsalikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Y*)(SO98H(*HsdbujfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%nPUI(OGihnS(P8oh)*7G)*7usidgh8gnyiudsbjg98ds7gH*^TR645$RE%$^ret6857sdt&^7yuidjbksngiukjsdnbgiusdjlkngmis
*&TYH96d8s7uygh78sdiuogyh08ds79*TYH)*&DI*ugyhn878isudgyh80ng79OYHS_(D*o9iyhg0879dughg)\sdkhujbhgn8osdiughO&D8uighn
ISUDGHn87p9go8yih978OYSH(D*OIYhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(ih978OYSH(D*OIuj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg7poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^Yftg76yfG&^uyfg76uyg7o6uiufgb76FG&^*SFG68Yhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Y*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^Yftg76yfG&^uyfg76uyg7o6uiufgb76FG&^*SFG68&FG&6F&URFG*^ojhmsuidjglknmfiokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^Yftg76&FRTyfG&^uyfg76uyg7o6uiufgb76FG&^*SFG68Yhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(poguj089dopuj*)0ng79OYHS_(D*o9iyhg0879dughg)\sdkhujbhgn8osdiughO&D8uighn
ISUDGHn87p9go8yih978OYSH(D*OIYhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(ih978OYSH(D*OIujfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ysiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv86089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfgyh08ds79*gS&df6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv86089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfgyh08ds79*gS&6Yftg7poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjgujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&Fh978OYSH(D*OIYhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(ih978OYSH(D*OIuj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosi)*{(ih978OYSH(D*OIuj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg7poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidFS^U%ydf6756FD^%&URFG*^ojhmsuidjglknmfiokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^Yftg76&FRTyfG&^uyfg76uyg7o6uiufgb76FG&^*SFG68Yhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(poguj089dopuj*)0ng79OYHS_(D*o9iyhg0879dughg)\sdkhujbhgn8osdiughO&D8uighn
ISUDGHn87p9go8yih978OYSH(D*OIYhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(ih978OYSH(D*OIujfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv86089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfgyh08ds79*gS&6Yftg7poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjgujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^Yftg76&FRTyfG&^uyfg76uyg7o6uiufgb76FG&^*SFG68Yhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(poguj089dopuj*)0ng79OYHS_(D*o9iyhg0879dughg)\sdkhujbhgn8osdiughO&D8uighn
ISUDGHn87p9go8yih978OYSH(D*OIYhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(ih978OYSH(D*OIujfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^df))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg7poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*HsdbujfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^ojhmsuidjglknmfiokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^Yftg76&FRTyfG&^uyfg76uyg7o6uiufgb76FG&^*SFG68Yhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(poguj089dopuj*)0ng79OYHS_(DRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg7poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuilknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRTYH)*&DI*ugyhn878isudgyh80ng79OYHS_(D*o9iyhg0879dughg)\sdkhujbhgn8osdiughO&D8uighn
ISUDGHn87p9go8yih978OYSH(D*OIYhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(ih978OYSH(D*OIuj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglkn57rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg7poguj089dopuj*)(mfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnklnjmisuodsidlhknfjmos9gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&misuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiui9josd09gojhmsuidjgujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^Yftg76&FRTyfG&^uyfg76uyg7o6uiufgb76FG&^*SFG68Yhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(poguj089dopuj*)0ng79OYHS_(D*o9iyhg0879dughg)\sdkhujbhgn8osdiughO&D8uighn
ISUDGHn87p9go8yih978OYSH(D*OIYhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(ih978OYSH(D*OIujfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^df))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg7poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*HsdbujfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^56FD^%&URFT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^Yftg76&FRTyfG&^uyfg76uyg7o6uiufgb76FG&^*SFG68Yhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(poguj089dopuj*)0ng79OYHS_(D*o9iyhg0879dughg)\sdkhujbhgn8osdiughO&D8uighn
ISUDGHn87p9go8yih978OYSH(D*OIYhg98sdoihgFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg7poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*HsdbujfmsapioUSHJ9mf8OIHydf6756FD^%&URFG*^%&FRI&^df))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg7poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsmsojhmsuidjglknmfiokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^Yftg76&FRTyfG&^uyfg76uyg7o6uiufgb76FG&^*SFG68Yhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(poguj089dopuj*)0ng79OYHS_ms)0s8dh9g76&FRTyfG&^uyfg76uyg7o6uiufgb76FG&^*SFG68Yhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(poguj089dopuj*)0ng79OYHS_(D*o9iyhg0879dughg)\sdkhujbhgn8osdiughO&D8uighn
ISUDGHn87p9go8yih978OYSH(D*OIYhg98sdoihgKSHpK4KaYW50aWtwa3t1Y3VjdWdhX2lsaV9uZXQ/XzowfQRjdemb08mspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(ih978OYSH(D*OIujfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^df))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg7poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljn(DRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg7poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuilknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRTYH)*&DI*ugyhn878isudgyh80ng79OYHS_(D*o9iyhg0879dughg)\sdkhujbhgn8osdiughO&D8uighn
ISUDGHn87p9go8yih978OYSH(D*OIYhg98sdoihgmspdl;jngms)0s8dh9g76&FRTyfG&^uyfg76uyg7o6uiufgb76FG&^*SFG68Yhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(poguj089dopuj*)0ng79OYHS_(D*o9iyhg0879dughg)\sdkhujbhgn8osdiughO&D8uighn
ISUDGHn87p9go8yih978OYSH(D*OIYhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(ih978OYSH(D*OIujfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^df))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg7poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*HsdbujfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^ojhmsuidjglknmfiokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^Yftg76&FRTyfG&^uyfg76uyg7o6uiufgb76FG&^*SFG68Yhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(poguj089dopuj*)0ng79OYHS_(DRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg7poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuilknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(ih978OYSH(D*OIuj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglkn57rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg7poguj089dopuj*)(mfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnklnjmisuodsidlhknfjmos9gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&misuodlkljnfmsapioUSHJ9mf8OIHjnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^ojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg%&FRI&^%UYRF*&%^YuG*^%&Fh978OYSH(D*OIYhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(ih978OYSH(D*OIuj089dopujjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*HsdbujfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^ojhmsuidjglknmfiokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^Yftg76&FRTyfG&^uyfg76uyg7o6uiufgb76FG&^*SFG68Yhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(poguj089dopuj*)0ng79OYHS_(D*o9iyhg0879dughg)\sdkhujbhgn8osdiughO&D8uighn
ISUDGHn87p9go8yih978OYSH(D*OIYhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(ih978OYSH(D*OIujfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^df))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg7poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*HsdbujfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^ojhmsuidjglknmfiokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^Yftg76&FRTyfG&^uyfg76uyg7o6uiufgb76FG&^*SFG68Yhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(poguj089dopuj*)0ng79OYHS_(DRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg7poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuilknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRTYH)*&DI*ugyhn878isudgyh80ng79OYHS_(D*o9iyhg0879dughg)\sdkhujbhgn8osdiughO&D8uighn
ISUDGHn87p9go8yih978OYSH(D*OIYhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(ih978OYSH(D*OIuj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglkn57rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg7poguj089dopuj*)(mfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnklnjmisuodsidlhknfjmos9gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&misuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^ojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg7poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd85(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg7poguj089dopujdkgnmsiupdjoghnsdiugoNSPDUIokngsPIUODKNHgMPU(ISODNgpuiosdknhgudongsu)sdokgnmOSIdngm(SE8oghN_(s8n3))
PUSOdhing9-8shnPUI(OGihnS(P8oh)*7G)*7usidgh8gnyiudsbjg98ds7gH*^TR645$RE%$^ret6857sdt&^7yuidjbksngiukjsdnbgiusdjlkngmis
*&TYH96d8s7uygh78sdiuogyh08ds79*TYH)*&DI*ugyhn878isudgyh80ng79OYHS_(D*o9iyhg0879dughg)\sdkhujbhgn8osdiughO&D8uighn
ISUDGHn87p9go8yih978OYSH(D*OIYhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(ih978OYSH(D*OIuj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^6d7ytgS&6Yftg7poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^Yftg76yfG&^uyfg76uyg7o6uiufgb76FG&^*SFG68Yhg98sdoihgmspdl;jngms)0s8dh9gnjipsodihgnjipsudoilkhgnjsuiodilghjsmdo8guyS*dghj)*(SD(UPg))
*OSUDHIg9j80PYUHJ(D)*{(poguj089dopuj*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Y*)(SOPhjdm08[g9p[uhjm[0ds9p[oupjg[m0s9dug]]]]])}sdjmg[0iopsdjlmkg,ipsol;djk,gpo
g0sd9ipojgm[089sdOJ)G{9josd09gojhmsuidjglknmfidjklnjmisuodlkljnfmsapioUSHJ9mf8OIHj98shdj987fhsn08d98fhgns98ihjf9s8d}]]
sudoihfjn0s9d8H(S*HD98H(*Hsdbujokfnsidlhknfjmosidf))sdjfkhnsiuijnfolikdmpiosjnudyghsbiyuyhgvG^%YRFSv56u5df^%RDF^%S6ydfr65
YFDSV5ytfd65yFDT^%^TYRFS^U%ydf6756FD^%&URFG*^%&FRI&^%UYRF*&%^Yurfsv8657rfdg567syfrgvd8567yfrsv8657yrfTG&^RFGv76frG&^SFRTg796
&^USYTFG&^UYFg76yrtg76uyfgg7^Yftg76yfG&^uyfg76uyg7o6uiufgb76FG&^*SFG68&FG&6FG&^*FG(&^f67FR&^F8567FV^*%&RFG*&^RFG&^*TG)gvdsyfvsh
TYFV^%UYFsgd76y7fgs76d7ytgS&6ydtfg767ytg&G^7fg76ydtg76tfg76sd7tg65RSF^$%erd534e%#$SE%4e45ed45RD^%FSytdgvufjhbsudyhgbfusydgbfy
sdhgfusydgfshdifhiSGBYdufgUYSUgdyufgbsyudgfyUGBSYDJHBnifunijBUYGbduysfgbuysdgbfuybgsdUYBFudysbfyuusgbdyfugbsuydtgfvsuydgfsdhfb
*/